In [2]:
import pandas as pd

In [30]:
amd = pd.read_csv('AMD.csv')
nvda = pd.read_csv('NVDA.csv')

In [31]:
len(amd), len(nvda)

(3635, 3635)

In [32]:
abscent = list(set(amd['time']) - set(nvda['time']))

In [9]:
aa = abscent.copy()
ind_1 = list(amd['time']).index(aa[0])
ind_2 = list(amd['time']).index(aa[1])
f1_b1 = [amd['time'][ind_1-1], amd['time'][ind_1+1]]
f2_b2 = [amd['time'][ind_2-1], amd['time'][ind_2+1]]

In [10]:
f1_b1

['2020-12-24T17:30:00Z', '2020-12-28T14:30:00Z']

In [11]:
f2_b2

['2020-11-27T18:30:00Z', '2020-11-30T14:30:00Z']

In [12]:
new_f1 = nvda.iloc[list(nvda['time']).index(f1_b1[0]), 1:]
new_b1 = nvda.iloc[list(nvda['time']).index(f1_b1[1]), 1:]
new_f2 = nvda.iloc[list(nvda['time']).index(f2_b2[0]), 1:]
new_b2 = nvda.iloc[list(nvda['time']).index(f2_b2[1]), 1:]

In [21]:
new1 = [(i+j)/2 for i, j in zip(new_f1, new_b1)]

In [22]:
new2 = [(i+j)/2 for i, j in zip(new_f2, new_b2)]

In [24]:
nvda.loc[12345] = [abscent[0]] + new1
nvda.loc[12346] = [abscent[1]] + new2

In [26]:
nvda = nvda.sort_values(by=['time'])

In [28]:
for i, j in zip(amd['time'], nvda['time']):
    if i != j:
        print('hell')

In [29]:
nvda.to_csv('NVDA.csv', index=False)

In [111]:
nvda.tail()

,time,open,high,low,close,Volume,Volume MA
3630,2021-05-24T15:30:00Z,625.290,626.64,623.82,625.50,11932.0,40323.50
3631,2021-05-24T16:30:00Z,626.195,627.67,625.04,627.67,11776.0,40224.95
3632,2021-05-24T17:30:00Z,627.620,629.64,627.42,628.35,20193.0,40390.30
3633,2021-05-24T18:30:00Z,628.860,629.51,626.32,626.48,9739.0,39795.35
3634,2021-05-24T19:30:00Z,626.210,627.28,623.88,624.48,18210.0,36651.50

## Electric Power Preprocessing

In [84]:
aep = pd.read_csv('e_AEP.csv')
dom = pd.read_csv('e_DOM.csv')

In [85]:
aep.columns = ['time', 'close']
dom.columns = ['time', 'close']
aep = aep.sort_values(by=['time']).reset_index().iloc[:,1:]
dom = dom.sort_values(by=['time']).reset_index().iloc[:,1:]

In [89]:
new_aep = aep.iloc[list(aep['time']).index(dom['time'][0]):,:].reset_index().iloc[:,1:]

In [90]:
len(new_aep), len(dom)

(116187, 116189)

In [93]:
new_aep = new_aep.drop_duplicates(['time'], keep='first')
dom = dom.drop_duplicates(['time'], keep='first')

In [98]:
abscent = list(set(dom['time']) - set(new_aep['time']))

In [99]:
aa = abscent.copy()
ind_1 = list(dom['time']).index(aa[0])
ind_2 = list(dom['time']).index(aa[1])
f1_b1 = [dom['time'][ind_1-1], dom['time'][ind_1+1]]
f2_b2 = [dom['time'][ind_2-1], dom['time'][ind_2+1]]

In [102]:
new_f1 = new_aep.iloc[list(new_aep['time']).index(f1_b1[0]), 1:]
new_b1 = new_aep.iloc[list(new_aep['time']).index(f1_b1[1]), 1:]
new_f2 = new_aep.iloc[list(new_aep['time']).index(f2_b2[0]), 1:]
new_b2 = new_aep.iloc[list(new_aep['time']).index(f2_b2[1]), 1:]

In [104]:
new1 = (new_f1[0] + new_b1[0]) / 2
new2 = (new_f2[0] + new_b2[0]) / 2

In [105]:
new_aep.loc[1112345] = [abscent[0]] + [new1]
new_aep.loc[1112346] = [abscent[1]] + [new2]

/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [106]:
new_aep = new_aep.sort_values(by=['time'])

In [108]:
for i, j in zip(new_aep['time'], dom['time']):
    if i != j:
        print('no')

In [109]:
len(new_aep), len(dom)

(116185, 116185)

In [110]:
new_aep.to_csv('e_AEP.csv', index=False)
dom.to_csv('e_DOM.csv', index=False)

In [114]:
dom.tail()

                       time    close
116184  2018-08-02 20:00:00  14038.0
116185  2018-08-02 21:00:00  13832.0
116186  2018-08-02 22:00:00  13312.0
116187  2018-08-02 23:00:00  12390.0
116188  2018-08-03 00:00:00  11385.0